<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>angularjs中的$watch方法</title>
</head>
<body ng-app="myApp">  
    <div ng-controller="firstController">
        <input type="text" value="" ng-model="name"/>
        改变次数:{{count}}-{{name}}
        <br />
        <input type="text" value="" ng-model="data.username"/>
        <br />
        <input type="text" value="" ng-model="height"/>
    </div>
</body>  
<script type="text/javascript" src="../lib/angular.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>