<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<title></title>
<style type="text/css">
    p{
        background: red;
    }
</style>
</head>
<body ng-app="myApp">
<div ng-controller="firstController">
    <input type="text" name="name" ng-model="name" ng-show="is_show" value="111111" id="">
    <input type="button" value="按钮1" ng-click="is_show=!is_show">{{is_show}}
</div>
<script type="text/javascript" src="../lib/angular.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
