<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="fsplus table title if needed" ba-panel-class="with-scroll">
            <div class="table-contain">
                <div class="form-group select-page-size-wrap">
                    <a ng-click="add()" class="btn btn-default">新建最新体验</a>
                </div>
                <div class="table-right-search">
                    <input type="text" ng-model="smartTable.searchContent" placeholder="搜索最新体验" ng-keyup="getList(tableState)">
                </div>
                <table class="table table-bordered table-hover table-buttonborder-none" st-table="tableData" st-pipe="getList">
                    <thead>
                    <tr class="active">
                        <th st-sort="id" st-sort-default="true">序号</th>
                        <th>操作</th>
                        <th>主标题</th>
                        <th>内容</th>
                        <th>顺序</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                    <tr ng-repeat="item in tableData | orderBy: 'sort':desc" class="table-tr">
                        <td>{{$index+itemFrom}}</td>
                        <td>
                            <a ng-click="tasteDetail(item)" class="btn btn-sm btn-default">查看</a>
                            <button class='btn btn-sm btn-icon btn-rounded btn-default' ng-click="editNewest(item)" type='button'>
                                <i class='fa fa-edit' style='padding-top:7px;padding-left:1px;'></i>
                            </button>
                            <a class='btn btn-sm btn-icon btn-rounded btn-default' type='button'  ng-click="del(item.id)"><i class='fa fa-trash-o' style='padding-top:7px;padding-left:1px;'></i></a>
                        </td>
                        <td title="{{item.title}}">{{item.title | removeWord:20 }}</td>
                        <td>{{!item.projectName?item.url:item.projectName}}</td>
                        <td>{{item.sort}}</td>

                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="12" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tfoot class="table-ajax-tfoot">
                    <tr>
                        <td colspan="12" class="text-right">
                            <div st-pagination="" st-items-by-page="smartTable.pageSize" st-displayed-pages="3" ></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-tbody-con">
                显示第{{itemFrom}}条-第{{itemTo}}条记录 总计{{datasTotalNum}}条记录
            </div>
        </div>
    </div>
</div>
