<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">最新体验详情</h4>
    </div>
    <div class="modal-body">
      <form name="myForm" class="form-horizontal" style="max-height:420px;overflow:auto;">
       <div class="form-group">
           <label class="col-sm-3 control-label left-label">主标题</label>
           <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.title}}</label>
       </div>

       <div class="form-group">
           <label class="col-sm-3 control-label left-label">副标题</label>
           <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.subhead}}</label>
       </div>

       <div class="form-group">
           <label class="col-sm-3 control-label left-label">顺序</label>
           <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.sort}}</label>
       </div>

       <div class="form-group" ng-show="modal.params.url">
           <label class="col-sm-3 control-label left-label">URL</label>
           <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.url}}</label>
       </div>

       <div class="form-group" ng-show="modal.params.projectName">
           <label class="col-sm-3 control-label left-label">体验</label>
           <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.projectName}}</label>
       </div>

       <div class="form-group">
           <label class="control-label col-sm-3 left-label">封面</label>
       </div>
       <div class="form-group col-sm-12" style="text-align: center;">
           <img ng-src={{modal.params.picture}}
                style="max-width:500px;max-height:400px;height:auto;zoom:expression(function(e) {
if(e.width>e.height){if(e.width>500){e.height=e.height*(500/e.width);e.width=500;}}
else{if(e.height>400) {e.width=e.width*(500/e.height);e.height=400;}}
e.style.zoom='1';}(this));overflow:hidden;" alt="">
       </div>
     </form>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-default" ng-click="delTaste(modal.params.id)">删除</button>
    </div>
</div>
