<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">{{modal.title}}</h4>
    </div>
    <form name="myForm" class="form-horizontal" id="testform" method="post" enctype="multipart/form-data">
        <div class="form-group" ng-class="{'has-error':myForm.name.$dirty&&myForm.name.$invalid}">
            <label for="inputtitle2" class="col-sm-3 control-label"><span style="color:red;">*</span>真实姓名</label>
            <div class="col-sm-8">
                <input autocomplete="off" type="text" name="name" ng-maxlength=250 ng-required="true" class="form-control"
                       id="inputtitle2" placeholder="为了安全请填写真实姓名" ng-model="modal.params.realName">
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.name.$dirty&&myForm.name.$error.required">姓名不能为空</div>
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.name.$dirty&&myForm.name.$error.maxlength">姓名不能超过250个字</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.phone.$dirty&&myForm.phone.$invalid}">
            <label for="inputphone" class="col-sm-3 control-label"><span style="color:red;">*</span>手机号码</label>
            <div class="col-sm-8">
                <input autocomplete="off" type="text" name="phone" ng-maxlength=11 ng-required="true" class="form-control"
                       ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"
                       id="inputphone" placeholder="请输入账号绑定手机号" ng-model="modal.params.phone">
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.phone.$dirty&&myForm.phone.$error.required">手机号码不能为空</div>
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.phone.$dirty&&myForm.phone.$error.pattern">手机号码格式不正确</div>
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <label ng-show="showNickname" class="control-label" style="font-weight:bolder">昵称：{{nickname}}</label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.identifyCard.$dirty&&myForm.identifyCard.$invalid}">
            <label for="inputidentifyCard" class="col-sm-3 control-label"><span style="color:red;">*</span>身份证号</label>
            <div class="col-sm-8">
                <input autocomplete="off" type="text" name="identifyCard" maxlength=18 ng-required="true"
                       ng-pattern="/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/"
                       class="form-control"
                       id="inputidentifyCard" placeholder="请输入正确身份证号码" ng-model="modal.params.identifyCard">
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.identifyCard.$dirty&&myForm.identifyCard.$error.required">身份证号不能为空</div>
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.identifyCard.$dirty&&myForm.identifyCard.$error.pattern" style="padding:10px;">身份证号格式不正确</div>
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <label class="control-label">仅用于平台认证，我们会严格保密。</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3"><span style="color:red;">*</span>手持身份证照片</label>
            <label class="control-label col-sm-3"></label>
            <div class="col-sm-8" style="text-align: left;line-height:25px;margin-bottom: 10px;">
                请上传有效期内手持身份证正面照片，支持JPG、GIF、PNG等图片格式，文件大小不超过3M;
                <span style="cursor: pointer"  ng-click="sampleImg(1)"><img style="margin-left:10px;" src="./assets/img/u158.png" alt=""><span id="showsample1">查看样例照片</span></span>
            </div>
            <div class="col-sm-12 sampleImg1" style="display: none;">
                <img ng-click="hideImg(1)" src="./assets/img/my_pic_id_shii.png" height="299" width="550" alt="">
            </div>
            <label class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <image-upload
                    init="vm.init()"
                    data-token="vm.token"
                    data-key="vm.key.value"
                    data-link="vm.link"
                    file-id="logo1"
                    src="./assets/img/image-128.png"
                    data-result="modal.params.approvePhoto"
                    data-max-size="300"
                    data-top="190"
                    data-tops="210"
                    data-progress="vm.progress"
                ></image-upload>
            </div>
        </div>

        <!-- <div class="form-group" >
            <label class="control-label col-sm-3"><span style="color:red;">*</span>服务领域</label>
        </div>
        <div  class="form-group" ng-init="getAllRangeService()"  style="text-align: center">
            <div class="col-sm-12">
                <label ng-repeat="item in rangeServicelist"
                       ng-init="items[$index].isclick=false"
                       ng-click="items[$index].isclick=!items[$index].isclick;changeStyle(item.id,item.typeName,items[$index].isclick);"
                       style="text-align:center;width: 15%;margin-left:8px;border-radius: 5px;border:1px solid #ddd;"
                       id="{{item.id}}">{{item.typeName}}</label>
            </div>
        </div> -->

        <div class="form-group" ng-class="{'has-error':myForm.description.$dirty&&myForm.description.$invalid}">
            <label class="control-label col-sm-4">备注：</label>
            <br /><br />
            <div class="col-sm-12">
                <textarea-input data-len=100 data-name="description" data-col="col-sm-12" data-placeholder="" text-input="modal.params.shopIntroduce"></textarea-input>
            </div>
            <!-- <div class="col-sm-12">
                <label class="col-sm-2"></label>
                <div  class="col-sm-10" style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.description.$dirty&&myForm.description.$error.required">备注不能为空</div>
            </div> -->
        </div>

    </form>
    <div class="modal-footer">
        <button type="button" ng-disabled="disables || myForm.$invalid" class="btn btn-primary" ng-click="submit()">提交</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
    </div>
</div>
