<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">创建代金券</h4>
    </div>
    <form name="myForm" class="form-horizontal" id="testform" method="post" enctype="multipart/form-data" style="position:relative;">
        <div style="position:absolute;top: 0px;right:10px;height:82px;width:290px;">
            <div style="width:215px;float:left;display:inline-block;height:82px;border:1px solid #ddd">
                <div style="padding:15px;height:20px;list-height:20px;font-size:18px;">{{modal.params.name}}</div>
                <div style="padding:10px;height:20px;list-height:20px;font-size:12px;">有效时间：{{modal.params.startTime | limitTo:10}}~{{modal.params.endTime | limitTo:10}}</div>
                <div style="padding:10px;height:20px;list-height:20px;font-size:14px;">消费满{{modal.params.consumeLimit?modal.params.consumeLimit:'--'}}可使用</div>
            </div>
            <div style="width:75px;float:rigth;border-radius:5px;display:inline-block;height:82px;background:red;color:#FFF;">
              <div style="padding:20px 0;height:20px;list-height:20px;font-size:18px;text-align:center">{{modal.params.price | currency:'￥' }}</div>
              <div style="padding:10px;height:20px;list-height:20px;font-size:14px;text-align:center">面值</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':myForm.vouchername.$dirty&&myForm.vouchername.$invalid}">
            <label for="inputtitle" class="col-sm-3 control-label"><span style="color:red;">*</span>名称</label>
            <div class="col-sm-3" style="width:26%;">
                <input autocomplete="off" type="text" name="vouchername" ng-maxlength=16 ng-required="true" ng-pattern="/^.{2,16}$/" class="form-control"
                       id="inputtitle" placeholder="2~16个字" ng-model="modal.params.name">
            </div>
            <div class="col-sm-12">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-3">
                  <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.vouchername.$dirty&&myForm.vouchername.$error.required">名称不能为空</div>
              </div>
            </div>
            <div class="col-sm-12">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-3">
                  <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.vouchername.$dirty&&myForm.vouchername.$error.pattern">名称限制2~16个字</div>
              </div>
            </div>

        </div>

        <div class="form-group"  ng-class="{'has-error':myForm.price.$dirty&&myForm.price.$invalid}">
            <label for="inputtitle2" class="col-sm-3 control-label"><span style="color:red;">*</span>面值</label>
            <div class="col-sm-3" style="width:26%;">
                <input autocomplete="off" type="text" name="price" ng-maxlength=250 ng-required="true" ng-pattern="/^\d{1,3}(\.\d{1,2})?$/" class="form-control"
                       id="inputtitle2" placeholder="最高不超过999元" ng-model="modal.params.price">
            </div>
            <div class="col-sm-12">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-3">
                  <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.price.$dirty&&myForm.price.$error.required">面值不能为空</div>
              </div>
            </div>
            <div class="col-sm-12">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-3">
                  <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.price.$dirty&&myForm.price.$error.pattern">面值输入格式不正确</div>
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="inputtitle2" class="col-sm-3 control-label"><span style="color:red;">*</span>有效时间</label>
          <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6" style="padding-right:0">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#">
                                <div class="input-group"><input type="text" readonly="true" class="form-control" data-ng-model="modal.params.startTime"><span class="input-group-addon">~</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="modal.params.startTime" data-datetimepicker-config="{dropdownSelector: '#dropdown4',modelType:'YYYY-MM-DD HH:mm',minView:'day',minView:'minute'}" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding:0">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown5" role="button" data-toggle="dropdown" data-target="#">
                                <div class="input-group"><input type="text" readonly="true" class="form-control" data-ng-model="modal.params.endTime">
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="modal.params.endTime" data-datetimepicker-config="{dropdownSelector: '#dropdown5',modelType:'YYYY-MM-DD HH:mm',minView:'day',minView:'minute'}" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.issueAmount.$dirty&&myForm.issueAmount.$invalid}">
            <label for="inputissueAmount" class="col-sm-3 control-label"><span style="color:red;">*</span>发行数量</label>
            <div class="col-sm-8">
                <input autocomplete="off" type="text" maxlength="10" name="issueAmount" ng-pattern="/^\d{1,5}(\.\d{1,2})?$/" ng-required="true" class="form-control" id="inputissueAmount" placeholder="最高不超过99999份" ng-model="modal.params.issueAmount">
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.issueAmount.$dirty&&myForm.issueAmount.$error.required" style="padding:10px;">发行数量不能为空</div>
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.issueAmount.$dirty&&myForm.issueAmount.$error.pattern" style="padding:10px;">发行数量格式不正确</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.getCount.$dirty&&myForm.getCount.$invalid}">
            <label for="inputgetCount" class="col-sm-3 control-label">次数限制</label>
            <div class="col-sm-8">每个手机限领
                <input style="width:160px;display: inline-block;" autocomplete="off" type="text" maxlength="10" name="getCount" ng-pattern="/^\d+$/"  class="form-control" id="inputgetCount" placeholder="不填表示不限" ng-model="modal.params.getCount">份
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.getCount.$dirty&&myForm.getCount.$error.pattern" style="padding:10px;">次数限制格式不正确</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.consumeLimit.$dirty&&myForm.consumeLimit.$invalid}">
            <label for="inputconsumeLimit" class="col-sm-3 control-label">消费限制</label>
            <div class="col-sm-8">消费满
                <input style="width:160px;display: inline-block;" autocomplete="off" type="text" maxlength="10" name="consumeLimit" ng-pattern="/^\d+$/" class="form-control" id="inputgetCount" placeholder="不填表示不限" ng-model="modal.params.consumeLimit">元
            </div>
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.consumeLimit.$dirty&&myForm.consumeLimit.$error.pattern" style="padding:10px;">消费限制格式不正确</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.getWays.$dirty&&myForm.getWays.$invalid}">
            <label for="inputissueAmount" class="col-sm-3 control-label"><span style="color:red;">*</span>领取方式</label>
            <div class="col-sm-8" ng-init="getWaysphone=true">
              <!-- <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" value="1" ng-checked="getWaysphone" ng-model="modal.params.getWays" ng-click="getWaysphone=!getWaysphone;checkgetWays(getWaysphone)">
                  <span>新用户手机注册</span>
              </label> -->
              <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" ng-disabled="true" value="1" ng-checked="true" ng-model="modal.params.getWays" >
                  <span>新用户手机注册</span>
              </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color:red;">*</span>使用范围</label>
            <label style="margin-left: 3%">
                <select
                    class="form-control selectpicker"
                    ng-change="changeScope(useRange)"
                    ng-model="useRange"
                    ng-options="x.id as x.name for x in scopeList">
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">备注</label>
            <div class="col-sm-8" style="padding: 0;">
                <textarea-input data-len=100 data-name="remark" data-col="col-sm-12" data-placeholder="非必填项" text-input="modal.params.remark"></textarea-input>
            </div>
           <!--  <div class="col-sm-8" style="padding: 0;">
                <label class="col-sm-2"></label>
                <div  class="col-sm-10" style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.remark.$dirty&&myForm.remark.$error.required">备注不能为空</div>
            </div> -->
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" ng-disabled="disable || myForm.$invalid" class="btn btn-primary" ng-click="submit()">创建完成</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
    </div>
</div>
