<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">重置密码</h4>
  </div>
  <div class="modal-body" style="text-align: center;">
      <p style="font-size:18px;">密码重置后，新的默认密码将发送至该用户手机号</p>
      <p style="font-size:18px;">默认密码为：ugogo</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="submit()">发送</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
  </div>
</div>

