<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">{{modal.title}}</h4>
    </div>
    <form name="myForm" class="form-horizontal"  style="max-height:420px;overflow:auto;">
        <div class="form-group" ng-if="isStoredetail">
            <label class="col-sm-3 control-label left-label">公司/店铺名称</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.shopName}}</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label left-label">真实姓名</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.realName}}</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label left-label">手机号码</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.phone}}</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label left-label">身份证号</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.identifyCard}}</label>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3 left-label">手持身份证照片</label>
        </div>
        <div class="form-group col-sm-12" style="text-align: center;">
            <img ng-src={{modal.params.approvePhoto}}
                 style="max-width:500px;max-height:400px;height:auto;zoom:expression(function(e) {
if(e.width>e.height){if(e.width>500){e.height=e.height*(500/e.width);e.width=500;}}
else{if(e.height>400) {e.width=e.width*(500/e.height);e.height=400;}}
e.style.zoom='1';}(this));overflow:hidden;" alt="">
        </div>
        <div class="form-group" ng-if="isStoredetail">
            <label class="control-label col-sm-3 left-label">营业执照</label>
        </div>
        <div ng-if="isStoredetail" class="form-group col-sm-12" style="text-align: center;">
            <img ng-src={{modal.params.licensePhoto}}
                 style="max-width:500px;max-height:400px;height:auto;zoom:expression(function(e) {
if(e.width>e.height){if(e.width>500){e.height=e.height*(500/e.width);e.width=500;}}
else{if(e.height>400) {e.width=e.width*(500/e.height);e.height=400;}}
e.style.zoom='1';}(this));overflow:hidden;" alt="">
        </div>
        <!-- <div class="form-group" >
            <label class="control-label col-sm-3 left-label">服务领域</label>
        </div>
        <div  class="form-group col-sm-12" style="text-align: center">
            <label ng-repeat="item in modal.params.rangeServiceList track by $index"
                style="text-align:center;width: 15%;margin-left:8px;border-radius: 5px;border:1px solid #0066FF;"
                id="{{item.id}}">{{item.typeName}}</label>
        </div> -->

        <div class="form-group">
            <label class="col-sm-3 control-label left-label">备注</label>
            <br />
            <label class="col-sm-3 control-label"></label>
            <label ng-if="isStoredetail" style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.shopIntroduce}}</label>
            <label ng-if="!isStoredetail" style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{modal.params.personIntro}}</label>
        </div>
    </form>
    <div ng-if="modal.params.status==0" class="modal-footer" style="text-align: center">
        <button style="margin-right:50%" type="button" class="btn btn-primary" ng-click="edit(modal)">编辑</button>
        <button type="button" class="btn btn-primary" ng-click="pass(modal.params.id)">通过</button>
        <button type="button" class="btn btn-default" ng-click="refuse(modal.params.id)">驳回</button>
    </div>
    <div ng-if="modal.params.status==1" class="modal-footer" style="text-align: center">
    </div>
    <div ng-if="modal.params.status==2" class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-default" ng-click="delstore(modal.params.id)">删除</button>
    </div>
</div>
