<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="fsplus table title if needed" ba-panel-class="with-scroll">
            <div class="row">
                <label class="control-label" style="float:left;height:34px;line-height:34px;">申请时间</label>
                <div class="dropdown col-sm-2">
                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group">
                            <input autocomplete="off" id="inputtime" placeholder="开始时间" type="text" class="form-control" ng-model="smartTable.start">
                            <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="smartTable.start" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',modelType:'YYYY-MM-DD',minView:'day'}" ></datetimepicker>
                    </ul>
                </div>
                <div class="dropdown col-sm-2">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group">
                            <input autocomplete="off" id="inputtime2" placeholder="结束时间" type="text" class="form-control" ng-model="smartTable.end">
                            <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="smartTable.end" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',modelType:'YYYY-MM-DD',minView:'day'}" ></datetimepicker>
                    </ul>
                </div>
                <div class="col-sm-2" style="width: 20%;">
                    <button type="button" class="btn btn-primary" ng-click="getList(tableState)">搜索</button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-primary" ng-click="removeContent()">清除搜索</button>
                </div>
                <div class="dropdown col-sm-2" style="width: 13%;">
                    <select
                        class="form-control selectpicker"
                        ng-change="change_sel(selected)"
                        ng-model="selected"
                        ng-options="x.id as x.des for x in companyType"
                    ></select>
                </div>
                <div class="col-sm-3">
                    <input type="text" style="height:33px;padding-left:10px;width: 250px;border:none;border-radius:5px;outline:none;border:1px solid #ddd;" ng-model="smartTable.searchContent" placeholder="输入店家名称/真实姓名/手机号" ng-keyup="getList(tableState)">
                </div>
            </div>

            <a ng-click="addStore()" class="btn btn-default">直接新增店家</a><br /><br />
            <div class="table-contain">
                <table class="table table-bordered table-hover table-buttonborder-none" st-table="tableData" st-pipe="getList">
                    <thead>
                    <tr class="active">
                        <th>序号</th>
                        <th>操作</th>
                        <th>店家名称</th>
                        <th>真实姓名</th>
                        <th>手机号</th>
                        <th>申请时间</th>
                        <th>处理时间</th>
                        <th style="width: 8%;">状态</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                    <tr ng-repeat="item in tableData track by $index" class="table-tr">
                        <td>{{$index+itemFrom}}</td>
                        <td>
                            <a ng-show="item.status!=3" class='btn btn-sm btn-rounded btn-default' ng-click="storeDetail(item)"  type='a'>查看</a>
                            <a ng-show="item.status==3" class='btn btn-sm btn-rounded btn-default' ng-disabled="true"  type='a'>查看</a>
                            <!--<a ng-show="item.status!=3" class='btn btn-sm btn-rounded btn-default' ng-click="delStore(item.id,item.status)"  type='a'>删除</a>-->
                            <!--<a ng-show="item.status==3" class='btn btn-sm btn-rounded btn-default' ng-click="delStore(item.id,item.status)"  type='a'>恢复认证</a>-->
                        </td>
                        <td title="{{item.shopName}}">{{item.shopName | removeWord:15 }}</td>
                        <td title="{{item.name}}">{{item.name | removeWord:10 }}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.applyTime | timeFormat }}</td>
                        <td>{{item.handleTime | timeFormat }}</td>
                        <td style="width:8%;">{{statusText(item.status)}}</td>
                        <td title="{{item.remark}}">{{item.remark | removeWord:30}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="12" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tfoot class="table-ajax-tfoot">
                    <tr>
                        <td colspan="12" class="text-right">
                            <div st-displayed-pages="3" st-pagination=""  st-items-by-page="smartTable.pageSize" st-template="app/pages/modal/page.html"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-tbody-con">
                显示第{{itemFrom}}条-第{{itemTo}}条记录 总计{{datasTotalNum}}条记录
            </div>
        </div>
    </div>
</div>
