<div class="base-info01">
  <div class="form-group" style="margin: 0;">
     <label class="col-sm-12 control-label box2-tips box2-tips1"><span style="color:red;">*</span>上传平面海报/短视频</label>
     <label class="col-sm-12 control-label box2-tips box2-tips2">图片分辨率不可小于750*562；图片/视频大小不超过3M；仅支持 bmp、 jpg、png，图片格式；支持mp4、3gp，视频格式</label>
   </div>
   <div class="form-group">
       <div class="col-sm-12">
           <div style="margin:0 20px 20px 0" class="col-sm-3" ng-repeat="imgitem in videoimgUrl track by $index">
               <image-upload2
                   init="vm.init()"
                   data-token="vm.token"
                   data-key="vm.key.value"
                   data-link="vm.link"
                   file-id="{{'abc' + $index }}"
                   src="./assets/img/image-180.png"
                   data-height="562"
                   data-width="750"
                   data-result="imgitem.url"
                   data-res="vm.res"
                   callback = "uploadCallback(data)"
                   data-progress="vm.progress"
               ></image-upload2>
               <button type="button" ng-hide="videoimgUrl.length==1" class="btn btn-default" style="padding: 3px 10px;margin-left: 28px;" ng-click="deleteItem($index,videoimgUrl)">删除</button>
           </div>
       </div>
   </div>
   <a class="append-morepost" ng-hide="videoimgUrl.length==9" ng-click="appendMore()">继续添加(还可添加{{9-videoimgUrl.length}}个)</a>
</div>
