<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">提示</h4>
  </div>
  <div class="modal-body" style="font-size: 21px;font-weight: bold;line-height: 28px;">
     同意退款后，退款将原路退还到用户付款账号。<br  />请与双方确认后再进行此操作。确认同意吗？
  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="submit()">确认</button>
  </div>
</div>
