<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">提醒</h4>
  </div>
  <div class="modal-body">
     <h3>确认停止发行xxxx代金券吗？</h3>
     <p>停止发行后，已领取的依然有效。</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="submit()">确认</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
  </div>
</div>
