<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">温馨提醒</h4>
  </div>
  <div class="modal-body">您确定要取消操作吗？取消后未保存数据会丢失！</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="goTolink()">确认</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
  </div>
</div>

