<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">回复</h4>
    </div>
    <form name="myForm" class="form-horizontal" id="testform" method="post" enctype="multipart/form-data">
        <div class="form-group" ng-class="{'has-error':myForm.description.$dirty&&myForm.description.$invalid}">
            <div class="col-sm-12">
                <textarea-input data-len=500 data-required="true" data-name="description" data-col="col-sm-12" data-placeholder="" text-input="replyContext"></textarea-input>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-2"></label>
                <div  class="col-sm-10" style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.description.$dirty&&myForm.description.$error.required">回复内容不能为空</div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" ng-disabled="myForm.$invalid" class="btn btn-primary" ng-click="reply()">提交</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
    </div>
</div>