.page-index{
	position: relative;
    margin-top: 18%;
    font-size: 6rem;
    text-align: center;
    line-height: 8rem;
    font-weight: 600;
}

.modal-dialog{
  .modal-content{
    margin-top:15%;
    .modal-body{
      margin:0 50px;
    }
  }
}
