.location-con.search .hostories{
  .location-name{
    color: $font-black-1 !important;
  }
}
.location-con.search .con-left {
  justify-content: space-between;
}
.location-advice.location-con .con-left {
  padding: 15px 0;
}