<div class="footer">
    <div class="footer-tab custom" ui-sref-active="selected" ui-sref="main">
        <span class="fa fa-home"></span>
        <span class="text">职位</span>
    </div>
    <div class="footer-tab search" ui-sref-active="selected" ui-sref="search">
        <span class="fa fa-search"></span>
        <span class="text">搜索</span>
    </div>
    <div class="footer-tab mine" ui-sref-active="selected" ui-sref="mine">
        <span class="fa fa-user-o"></span>
        <span class="text">我的</span>
    </div>
</div>