<div class="modal-content">
 <div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
   <em class="ion-ios-close-empty sn-link-close"></em>
  </button>
  <h4 class="modal-title">{{modal.title}}</h4>
 </div>
 <form name="myForm" class="form-horizontal">
  <div class="form-group" ng-class="{'has-error':myForm.username.$dirty&&myForm.username.$invalid}">
   <label for="inputtitle" class="col-sm-3 control-label">角色名称</label>
   <div class="col-sm-8">
    <input autocomplete="off" type="text" name="username" ng-maxlength=20 ng-minlength=2 ng-required="true" class="form-control"
           id="inputtitle" placeholder="请输入角色名称" ng-model="modal.params.name">
   </div>
   <label class="col-sm-3 control-label"></label>
   <div class="col-sm-8">
    <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.username.$dirty&&myForm.username.$error.required">角色名称不能为空</div>
   </div>
   <label class="col-sm-3 control-label"></label>
   <div class="col-sm-8">
    <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.username.$dirty&&myForm.username.$error.maxlength">角色名称不能超过20个字</div>
   </div>
  <label class="col-sm-3 control-label"></label>
  <div class="col-sm-8">
      <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.username.$dirty&&myForm.username.$error.minlength">角色名称不能少于2个字</div>
  </div>
  </div>

  <div class="form-group" ng-class="{'has-error':myForm.description.$dirty&&myForm.description.$invalid}">
   <label for="inputsummery" class="col-sm-3 control-label">角色描述</label>
   <div class="col-sm-8">
    <input autocomplete="off" type="text" name="description" ng-required="true" class="form-control" ng-maxlength=20 id="inputsummery" placeholder="请输入角色描述" ng-model="modal.params.description">
   </div>
   <label class="col-sm-3 control-label"></label>
   <div class="col-sm-8">
    <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.description.$dirty&&myForm.description.$error.required">角色描述不能为空</div>
   </div>
   <label class="col-sm-3 control-label"></label>
   <div class="col-sm-8">
    <div style="padding:10px;" class="alert alert-danger help-block" ng-show="myForm.description.$dirty&&myForm.description.$error.maxlength">角色描述不能超过20个字</div>
   </div>
  </div>

 </form>
 <div class="modal-footer">
  <button type="button" ng-disabled="myForm.$invalid" class="btn btn-primary" ng-click="submit()">保存</button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
 </div>
</div>



