<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="fsplus table title if needed" ba-panel-class="with-scroll">
            <div class="table-contain">
                <a ng-click="add()" class="btn btn-default">添加</a>
                <div class="table-right-search">
                    <input type="text" ng-model="smartTable.searchContent" placeholder="输入关键字搜索" ng-keyup="getList(tableState)">
                </div>
                <br /><br />
                <table class="table table-bordered table-hover table-buttonborder-none" st-table="tableData" st-pipe="getList">
                    <thead>
                        <tr class="active">
                            <th st-sort="id" st-sort-default="true">序号</th>
                            <th>操作</th>
                            <th>角色名称</th>
                            <th>角色描述</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="item in tableData track by $index" class="table-tr">
                            <td>{{$index+itemFrom}}</td>
                            <td>
                              <button class='btn btn-sm btn-icon btn-rounded btn-default' ng-click="editPower(item)" type='button'><i class='fa fa-edit' style='padding-top:7px;padding-left:1px;'></i></button>
                              <a class='btn btn-sm btn-icon btn-rounded btn-default' type='button'  ng-click="del(item)"><i class='fa fa-trash-o' style='padding-top:7px;padding-left:1px;'></i></a>
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="12" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-ajax-tfoot">
                        <tr>
                            <td colspan="12" class="text-right">
                                <div st-pagination="" st-items-by-page="smartTable.pageSize" st-displayed-pages="3" ></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-tbody-con">
                显示第{{itemFrom}}条-第{{itemTo}}条记录 总计{{datasTotalNum}}条记录
            </div>
        </div>
    </div>
</div>
