<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="fsplus table title if needed" ba-panel-class="with-scroll">
            <div class="form-horizontal" name="myForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label">推送对象：</label>
                    <div class="col-sm-5">
                        <div class="col-md-3">
                            <label class="checkbox-inline custom-checkbox nowrap">
                                <input type="checkbox" value="1" ng-model="item1" ng-change="isShowcg(item1,1)">
                                <span>商户端</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="checkbox-inline custom-checkbox nowrap">
                                <input type="checkbox" value="2" ng-model="item2" ng-change="isShowcg(item2,2)">
                                <span>用户端</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div  class="form-group">
                    <label class="col-sm-2 control-label">推送内容：</label>
                    <textarea-input data-len=50 data-name="description" data-col="col-sm-7" data-placeholder="" text-input="notePushRequest.pushContext"></textarea-input>
                </div>
                </form>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="disable">保存</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" ng-click="confirm('marketing.shortmes')">取消</button>
                </div>
            </div>
            </div>
        </div>
    </div>