.box_item{
    width:260px;
    height:260px;
    border:1px solid #ddd;
    text-align: center;
    .boxitem_img{
        margin: 20px 70px 10px;
        width:120px;
        height:120px;
        border-radius:120px;
        background: #d9534f;
    }
    h5{
      margin:15px 0;
    }
    .btn-spe{
      margin-right:10%;
    }
}
.teacher_title{
  margin:2% 0;
}
.teacher_spe{
  margin-top:5%;
}
.account-con{
  .img-responsive{
    width:180px !important;
    height:180px !important;
    max-height: 200px !important;
    max-width: 200px !important;
  }
  .btn-file{
    margin-top:70px  !important;
  }
}
.teacher_item{
  .box_item{
    float: left;
    margin-bottom: 3%;
    margin-right: 8%;
  }

}


.tea_itembox{
  margin:0 40px 20px 0px;
  float:left;
  width:180px;
  height:210px;
  text-align: center;
  .item_boreder{
    border:1px solid #ddd;
    .tea_itemimg{
      margin-top: 25px;
      width:100px;
      height:100px;
      border-radius: 100px;
    }
    h5{
      margin:15px 0;
    }
  }
  .tea_radio{
    height:36px;
  }

}
