<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>angularjs实现excel表格导出</title>
</head>
<body ng-app="myApp">
<div ng-controller="excelController">
<table id="table1" style="font-family:SimSun;">
	<tr>
	    <td>测试id</td>
	    <td>测试name</td>                                
	</tr>
	<tr ng-repeat="item in testData">
	    <td ng-bind="item.id"></td>
	    <td ng-bind="item.name"></td>                                
	</tr>
</table>
<input type="button" value="导出Excel" ng-click="exportToExcel('#table1')" />
</div>
</body>
<script type="text/javascript" src="../lib/angular.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>