<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">会员详情</h4>
    </div>
    <form name="myForm" class="form-horizontal" ng-init="getInfo()" style="max-height:420px;overflow:auto;">
        <div class="form-group">
            <label class="control-label col-sm-3">头像</label>
        </div>
        <div class="form-group col-sm-12" style="text-align: center;">
            <img ng-src={{memberInfo.avatar}}
                 style="max-width:200px;max-height:200px;height:auto;zoom:expression(function(e) {
if(e.width>e.height){if(e.width>200){e.height=e.height*(200/e.width);e.width=200;}}
else{if(e.height>200) {e.width=e.width*(200/e.height);e.height=200;}}
e.style.zoom='1';}(this));overflow:hidden;" alt="">
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">昵称</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.nickname}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.realName}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">性别</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.sex | sexInfo}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">生日</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.birthday | date:'yyyy/MM/dd'}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">介绍</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.accountIntro}}</label>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-3">兴趣</label>
        </div>
        <div  class="form-group" style="text-align: center">
            <div class="col-sm-12">
                <label ng-repeat="item in memberInfo.rangeServiceList track by $index"
                       style="text-align:center;width: 15%;margin-left:8px;border-radius: 5px;border:1px solid #0066FF;"
                       id="{{item.id}}">{{item.typeName}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">认证状态</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{authText(memberInfo.dignityList)}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">注册时间</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.registerTime}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">常住地址</label>
            <label style="text-align: left;font-weight:bolder;" class="col-sm-8 control-label">{{memberInfo.address}}</label>
        </div>
        <hr />
    </form>
    <div class="modal-footer" style="text-align: center">
        <button ng-if="memberInfo.remark!=-1" class='btn btn-primary' ng-click="setAccount(memberInfo.id)">封号</button>
        <!--<a ng-show="memberInfo.remark==-1" class='btn btn-sm btn-rounded btn-default' ng-disabled="true">封号</a>-->
        <!--<a ng-show="memberInfo.status==1" class='btn btn-sm btn-rounded btn-default' ng-disabled="true">警告</a>-->
        <button ng-if="memberInfo.status==0" class='btn btn-primary' ng-click="setWarning(memberInfo.id)">警告</button>
        <button style="margin-left: 30%" type="button" class="btn btn-primary" ng-click="getmember(memberInfo.id,-1)">上一个</button>
        <button type="button" class="btn btn-primary" ng-click="getmember(memberInfo.id,1)">下一个</button>
    </div>
</div>
