<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">请选择封号的时间</h4>
    </div>
    <form name="myForm" class="form-horizontal" id="testform" method="post">
        <div class="col-sm-8">
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" value="1" ng-checked="true" ng-click="isShowcg(1)" name="inlineRadioOptions">
                <span>24小时</span>
            </label>
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" value="2" ng-click="isShowcg(2)" name="inlineRadioOptions">
                <span>一周</span>
            </label>
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" value="3" ng-click="isShowcg(3)" name="inlineRadioOptions">
                <span>一个月</span>
            </label>
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" value="4" ng-click="isShowcg(4)" name="inlineRadioOptions">
                <span>永久封号</span>
            </label>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submitsetAccount()">提交</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
    </div>
</div>