<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">提示</h4>
    </div>
    <label class="col-sm-12 control-label">体验发布成功，请耐心等待审核！</label>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="goAdd()">继续发布</button>
        <button type="button" class="btn btn-default" ng-click="goBack()">返回列表</button>
    </div>
</div>



