<div class="baseinfo-box1" ng-show="showStep1">
    <div class="base-info01">
      <div class="form-group" ng-class="{'has-error':myForm.projectname.$dirty&&myForm.projectname.$invalid}">
          <label for="inputtitle" class="col-sm-2 control-label left-titile"><span style="color:red;">*</span>体验名称：</label>
          <div class="col-sm-10">
              <input autocomplete="off" ng-required="true" name="projectname" type="text" maxlength=20 class="form-control" id="inputtitle" placeholder="20字以内" ng-model="projectRequest.name">
              <label  class="control-label label-tips" ng-show="myForm.projectname.$dirty&&myForm.projectname.$error.required">*体验名称不能为空</label>
              <label class="control-label label-tips" ng-show="projectRequest.name.length==20">*体验名称最多20个字</label>
          </div>
      </div>
      <div class="form-group">
       <label class="col-sm-2 control-label left-titile"><span style="color:red;">*</span>体验类别：</label>
       <div class="col-sm-3">
         <select
             class="form-control"
             title="体验类别最多选3项" multiple selectpicker
             ng-model="project.projecttypeId"
             ng-options="x.id as x.name for x in alladddatalist.projectTypeList"
         ></select>
       </div>
     </div>
     <div class="form-group" ng-if="operate=='add'" ng-init="getcitylist()">
       <label class="col-sm-2 control-label left-titile"><span style="color:red;">*</span>体验地址：</label>
       <label class="col-sm-2">
         <select class="form-control selectpicker" ng-model="selprovice" ng-options="provice.name for provice in list" ng-change="cgProvice(selprovice)" >
         </select>
       </label>
       <label ng-show="showcity" class="col-sm-2">
         <select class="form-control selectpicker" ng-model="selcity" ng-options="pcity.name for pcity in selprovice.child" ng-change="cgCity(selcity)">
         </select>
       </label>
       <label ng-show="showarea" class="col-sm-2">
         <select class="form-control selectpicker" ng-model="selarea" ng-options="parea.value for parea in selcity.child" ng-change="cgArea(selarea)">
         </select>
       </label>
       <div class="col-sm-4" ng-class="{'has-error':myForm.daladdress.$dirty&&myForm.daladdress.$invalid}">
           <input autocomplete="off" name="daladdress" type="text" class="form-control" ng-required="true" maxlength="200" placeholder="例如：观前街368号(乐桥七号口左转100米)" ng-model="projectRequest.address">
            <label class="control-label label-tips" maxlength=200 ng-show="myForm.daladdress.$dirty&&myForm.daladdress.$error.required">*体验详细地址不能为空</label>
       </div>
     </div>
     <div class="form-group" ng-if="operate=='edit'">
       <label class="col-sm-2 control-label left-titile"><span style="color:red;">*</span>体验地址：</label>
       <label class="col-sm-2">
         <select class="form-control selectpicker" ng-model="selprovice" ng-options="provice.name as provice.name for provice in list" ng-change="cgProvice(selprovice)" >
         </select>
       </label>
       <label class="col-sm-2">
         <select class="form-control selectpicker" ng-model="selcity" ng-options="pcity.name as pcity.name for pcity in selPchild" ng-change="cgCity(selcity)">
         </select>
       </label>
       <label ng-show="showarea" class="col-sm-2">
         <select class="form-control selectpicker" ng-model="selarea" ng-options="parea.value as parea.value for parea in selArea" ng-change="cgArea(selarea)">
         </select>
       </label>
       <div class="col-sm-4" ng-class="{'has-error':myForm.daladdress.$dirty&&myForm.daladdress.$invalid}">
           <input autocomplete="off" ng-model="projectRequest.address2" name="daladdress" type="text" class="form-control" ng-required="true" maxlength=200 placeholder="例如：观前街368号(乐桥七号口左转100米)">
           <label class="control-label label-tips" ng-show="myForm.daladdress.$dirty&&myForm.daladdress.$error.required">*体验详细地址不能为空</label>
       </div>

     </div>

    </div>
    <div class="base-info02" ng-init="showtimeCon=false;editTable=false">
      <div class="form-group timetopcon" style="line-height:40px;">
        <label for="inputtitle" class="col-sm-2 control-label left-titile" style="line-height:40px;">
            <span style="color:red;">*</span>时间设置：</label>
        <div class="col-sm-10 time-set" ng-click="showtimeCon=true;">用户只能购买您设置好的时间范围<span class="timeset-text" ><span ng-show="editTable">修改</span><span ng-show="!editTable">点击设置</span></span></div>
      </div>
      <div  ng-show="showtimeCon">
        <div class="form-group time-topline">
          <label class="col-sm-1 control-label left-titiletime">
            <span style="color:red;">*</span>预订日期</label>
          <label class="radio-inline custom-radio nowrap col-sm-1" style="width:2%;">
             <input type="radio" ng-checked="projectRequest.type==1"  ng-click="changeProtype(1)" name="inlineRadioOptions">
             <span></span>
          </label>
          <div class="col-sm-10">
              <div class="datetime-con">
                <mydatetime-picker data-result="reserveDate.reserve_date" callback = "dateCallback(data)"></mydatetime-picker>
                <label class="select-datedetail" ng-click="reserveDatedetail(reserveDate.reserve_date)">查看已选日期</label>
              </div>
              <label style="margin-left:5%" class="radio-inline custom-radio nowrap col-sm-1">
                  <input type="radio" ng-checked="projectRequest.type==2"  ng-click="changeProtype(2)"  name="inlineRadioOptions">
                  <span>全年无休</span>
              </label>
              <label style="margin-left:5%" class="radio-inline custom-radio nowrap col-sm-1">
                  <input type="radio" ng-checked="projectRequest.type==3"  ng-click="changeProtype(3)" name="inlineRadioOptions">
                  <span>工作日</span>
              </label>
              <label style="margin-left:5%" class="radio-inline custom-radio nowrap col-sm-1">
                  <input type="radio" ng-checked="projectRequest.type==4"  ng-click="changeProtype(4)" name="inlineRadioOptions">
                  <span>周末或假期</span>
              </label>
          </div>
        </div>
        <div class="form-group ">
          <label class="col-sm-2 control-label left-titile"><span style="color:red;">*</span>体验时长：</label>
          <div class="col-sm-10" style="padding-left:0;">
              <label class="col-sm-3" style="padding-left:0;">
                  <select ng-disabled="hasTimeslot" class="form-control" ng-model="selTimeDate.selhour" ng-options="x+' 小时' for x in listhour" ng-change="changeHour(selTimeDate.selhour)" >
                  </select>
              </label>
              <label  class="col-sm-3" style="margin-left:5%">
                  <select ng-disabled="hasTimeslot" class="form-control" ng-model="selTimeDate.selsecond" ng-options="y+' 分钟' for y in listsecond" ng-change="changeSecond(selTimeDate.selsecond)" >
                  </select>
              </label>
          </div>
        </div>
        <div class="form-group">
           <label for="inputnum" class="col-sm-2 control-label left-titile"><span style="color:red;">*</span>预订时段：</label>
        </div>
        <div class="form-group time-length"  style="margin:2% 10%;">
            <a ng-click="addtimeSet(time)" class="btn btn-default timeadd-btn1">添加时段</a>
            <a ng-click="removeAlltime()" class="btn btn-default timeadd-btn2">清空时段</a>
            <br /><br />
            <table class="table table-bordered table-hover table-buttonborder-none">
                <thead>
                    <tr class="active">
                        <th>名称</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in time">
                        <td class="text-center">时段{{$index+1}}</td>
                        <td class="text-center">{{item.startTime}}</td>
                        <td class="text-center">{{item.endTime}}{{isNextDay(item.startTime,item.endTime)}}</td>
                        <td class="text-center">
                            <a style="margin:10px 0;" ng-click="edittimeSet($index,item,time)" class="btn btn-default">编辑</a>
                            <a style="margin:10px 0;" ng-click="removetime($index,time)" class="btn btn-default">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="timecon-hide">
           <div class="hidetimeCon" ng-click="showtimeCon=false;editTable=true">
             <img class="hide-icon" src="./assets/img/hideicon.png" alt="">收起列表
           </div>
        </div>
      </div>
    </div>
   <div class="base-info03">
     <div class="form-group" ng-class="{'has-error':myForm.projectnum.$dirty&&myForm.projectnum.$invalid}">
       <label for="inputnum" class="col-sm-2 control-label left-titile">人数限制：</label>
       <div class="col-sm-10">
           <input autocomplete="off" maxlength="10" ng-pattern="/^[1-9]\d*$/" name="projectnum" type="text" class="form-control" id="inputnum" placeholder="不填表示不限" ng-model="projectRequest.maxNum">
           <label class="control-label label-tips" ng-show="myForm.projectnum.$dirty&&myForm.projectnum.$error.pattern">*人数填写格式不正确</label>
       </div>
     </div>
     <div class="form-group" >
       <label for="inputprice" class="col-sm-2 control-label left-titile">提前预约：</label>
       <div class="col-sm-8">
           <label ng-class="{'has-error':myForm.daytime.$dirty&&myForm.daytime.$invalid}">
               <input autocomplete="off" name="daytime" ng-required="true" ng-pattern="/^\d+$/" maxlength=10 type="text" class="form-control" id="inputday" placeholder="预约天数" ng-model="projectRequest.dayTime">
           </label>
           天
           <label style="margin-left:5%" ng-class="{'has-error':myForm.hourtime.$dirty&&myForm.hourtime.$invalid}">
               <input autocomplete="off" name="hourtime" ng-required="true" ng-pattern="/^\d+$/" maxlength=10 type="text" class="form-control" id="inputhour" placeholder="预约小时" ng-model="projectRequest.hourTime" />
           </label>
           小时
           <label style="float:right" class="col-sm-3 control-label label-tips" ng-show="myForm.daytime.$dirty&&myForm.daytime.$error.required">*预约天数不能为空</label>
           <label style="float:right" class="col-sm-3 control-label label-tips" ng-show="myForm.daytime.$dirty&&myForm.daytime.$error.pattern">*预约天数为整数</label>
            <label style="float:right" class="col-sm-3 control-label label-tips" ng-show="myForm.hourtime.$dirty&&myForm.hourtime.$error.required">*预约小时不能为空</label>
           <label style="float:right" class="col-sm-3 control-label label-tips" ng-show="myForm.hourtime.$dirty&&myForm.hourtime.$error.pattern">*预约小时为整数</label>
       </div>
     </div>
     <div class="form-group" ng-class="{'has-error':myForm.projectprice.$dirty&&myForm.projectprice.$invalid}">
       <label for="inputprice" class="col-sm-2 control-label left-titile">
           <span style="color:red;">*</span>体验价格：</label>
       <div class="col-sm-10">
           <input autocomplete="off" name="projectprice"  ng-pattern="/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/" ng-required="true" type="text" maxlength="10" class="form-control" id="inputprice" placeholder="请填写价格" ng-model="projectRequest.price">
           <label class="control-label label-tips" ng-show="myForm.projectprice.$dirty&&myForm.projectprice.$error.required">*体验价格不能为空</label>
           <label class="control-label label-tips" ng-show="myForm.projectprice.$dirty&&myForm.projectprice.$error.pattern">*体验价格格式不正确(小数点保留两位且大于0)</label>
       </div>
     </div>
   </div>
   <div class="form-group next-step">
      <a ng-click="nextStep1()" class="next-stepbtn">下一步</a>
      <a ng-click="confirm('service.taste')" class="next-stepbtn nextstep-cancel">取消</a>
   </div>
</div>
