<div class="baseinfo-box2" ng-show="showStep2">
     <div ng-include="'app/pages/service/taste/stepsecond01.html'"></div>
     <div class="base-info02">
         <div class="form-group" style="margin: 0;">
            <label class="col-sm-12 control-label box2-tips box2-tips1 flow-step02"><span style="color:red;">*</span>体验流程</label>
            <label class="col-sm-12 control-label box2-tips box2-tips2">图片分辨率不可小于750*562像素，图片/视频大小不超过3M。</label>
          </div>

         <div class="form-group" ng-repeat="itemstep in projectRequest.projectFlowList track by $index" ng-init="outerIndex=$index">
               <label for="inputprice" class="col-sm-1 control-label step-indextips">第{{$index+1}}步：</label>
               <div class="col-sm-11" style="padding: 0;">
					<input style="position:relative;" autocomplete="off" type="text" maxlength=50 class="form-control" placeholder="50字以内" ng-model="projectRequest.projectFlowList[outerIndex].stepIntro">
                 <span style="position:absolute;right:10px;top:10px;">{{projectRequest.projectFlowList[outerIndex].stepIntro.length}}/50</span>
				 
                 <!--<input autocomplete="off" type="text" maxlength=50 class="form-control" placeholder="50字以内" ng-model="projectRequest.projectFlowList[outerIndex].stepIntro">-->
               </div>
               <div class="stepimg-box">
                 <div class="col-sm-3 itemstep-con" ng-repeat="itemlink in projectRequest.projectFlowList[outerIndex].stepPhoto1" ng-init="innerIndex = $index">
                      <image-upload
                          init="vm.init()"
                          data-token="vm.token"
                          data-key="vm.key.value"
                          data-link="vm.link"
                          file-id="{{'abc'+innerIndex+outerIndex+itemlink.indexstepId}}"
                          data-result="itemlink.link"
                          src="./assets/img/image-180.png"
                          data-height="562"
                          data-width="750"
                          data-progress="vm.progress"
                          data-res="vm.res"
                      ></image-upload>
                      <button type="button" class="btn btn-default" ng-click="deleteItem($index,projectRequest.projectFlowList[outerIndex].stepPhoto1)" style="padding: 3px 10px;margin-left: 28px;">删除</button>
                  </div>
                  <div class="addmore-flow1" ng-hide="projectRequest.projectFlowList[outerIndex].stepPhoto1.length==3" ng-click="appendstepMore(outerIndex,innerIndex)">添加(还可添加{{3-projectRequest.projectFlowList[outerIndex].stepPhoto1.length}}个)</div>
               </div>
               <br />
               <div class="col-sm-12" style="text-align:center">
                   <label class="handel-flow1" ng-hide="projectRequest.projectFlowList.length<=1"  ng-click="removestepMore(outerIndex)">移除步骤</label>
               </div>
         </div>
         <div class="form-group" style="text-align:center;cursor:pointer;">
             <label ng-click="addstepMore()" class="handel-flow1">添加步骤</label>
         </div>
     </div>
     <div class="form-group next-step">
        <a ng-click="nextStep2()" class="next-stepbtn">下一步</a>
        <a ng-click="backnextStep1()" class="next-stepbtn nextstep-cancel">上一步</a>
     </div>
</div>
