<div class="modal-content" ng-init = "init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">达人入驻合作协议</h4>
        <hr style="margin-bottom:0">
    </div>
    <div class="modal-body" style="margin:0 auto;text-align: left;width:100%;height:400px;overflow:auto;">
          达人入驻合作协议<br /><br />
          甲方：达人<br /><br />
          乙方：苏州浮游记信息技术有限公司<br /><br />
          为了更好地为达人服务以及保障消费者权益，甲、乙双方本着平等合作、互惠互利的原则，在符合相关法律法规，不违反市场竞争的情况下，甲方须遵循乙方的运营管理规范，经友好协商，甲乙双方签署以下入驻协议。<br /><br />
          一、合作内容<br /><br />
          1 甲方在乙方APP及网站平台发布甲方的体验基本信息，乙方提供APP及网站平台，供甲方发布其机构的体验信息。<br /><br />
          2 甲方在乙方APP及网站平台发布甲方的体验基本信息，每笔订单，乙方总成交额中扣去15%为平台服务费。<br /><br />
          3 本协议自乙方体验在游果果APP或网站平台上线之日起生效。<br /><br />
          二、 甲方权利与义务<br /><br />
          1、凡甲方已经在乙方上线的体验及相应服务内容，在双方规定的上线时间内，未经乙方同意乙方不得进行任何形式直接或间接的取消或变更，如因特殊原因乙方确实需要进行变更或取消的，由乙方至少提前5个工作日告知甲方，并由双方另行商议对页面做相应的调整后方可进行变更。<br /><br />
          2、甲方有义务提供合作期间在乙方APP及网站平台营销活动和品牌形象展示所需要的所有文字、图片和视频等资料以供乙方创作，甲方保证对其提供的该等资料具有完全权利，并有权授权给乙方基于本协议目的进行使用。<br /><br />
          3、乙方系统通知甲方下单后，如甲方因时间档期原因，不能提供体验服务的，甲方应立即电话通知已下单的用户和乙方，并做好合理的安抚和处理。<br /><br />
          4、乙方用户退订情形，乙方应在收到退订申请后告知甲方取消对应项目。甲方应根据乙方通知做相应调整。<br /><br />
          5、甲乙双方均同意，甲方提供给体验内容发布在乙方APP及网站平台上，甲方有义务保证该内容不在其他APP或网站上展示。<br /><br />
          三、乙方权利与义务<br /><br />
          1、乙方为甲方提供APP及网站的网络宣传。<br /><br />
          2、乙方按照内部工作规划，为甲方提供必要的宣传及推广服务，以提升甲方的知名度。乙方工作规划由乙方制定，甲方无权干涉。<br /><br />
          3、如甲方提供的体验出现任何安全事故，乙方有权随时告知解除本合同，并操作甲方体验下线，甲方因安全事故所带来的损失，乙方不负任何责任。<br /><br />
          4、甲方一旦注册成功，成为乙方APP及网站的合法用户，将得到一个密码和用户名，经乙方认证后具备发布体验的申请权限。甲方可随时变更密码。甲方将对用户名和密码安全负全部责任。另外，每个用户都要对以其用户名进行的所有活动和事件负全责。甲方若发现任何非法使用用户帐户或存在安全漏洞的情况，请立即通告乙方。<br /><br />
          5、乙方不对用户所发布信息的删除或储存失败负责。乙方有判定用户的行为是否符合乙方服务条款的要求和精神的保留权利，如果用户违背了服务条款的规定，乙方有中断对其提供网络服务的权利。<br /><br />
          6、如因不可抗力或其他无法控制的原因使乙方销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，乙方不承担责任。但是乙方会尽可能合理地协助处理善后事宜，并努力使甲方免受经济损失。<br /><br />
          四、合作约定<br /><br />
          1、双方的品牌归各自所有。 甲、乙双方均不可在对方未经授权的情况下使用对方名称、LOGO以及涉及相关内容的销售、促销宣传材料及广告、报纸、杂志、宣传单等。如因此产生的不良后果及损失由违约方自行全部承担。<br /><br />
          2、任何双方违反本协议所规定的义务导致另一方受到包括但不限于投诉、举报、诉讼或处罚、赔偿等损失，违约方在收到守约方要求纠正其违法行为的书面通知之日，应立即停止其违约行为，并在10日内赔偿守约方因此受到的损失。<br /><br />
          3、本协议任何一方均应对其获得对方的业务、经营、财务状况和其他保密资料予以严格保密，不得以任何形式向任何第三方披露。如因任何一方未能履行保密义务而给其他方造成任何损失的，应承担赔偿责任。<br /><br />
          4、乙方可提供促销、引流、推广等增值服务。甲方如需定制，需支付相应费用，具体须签订补充协议。<br /><br />
          五、争议解决
          本协议项下争议由双方友好协商解决，无法达成一致情形，任何一方有权将整体提交至一方所在地有管辖权的人民法院诉讼解决。
          六、协议生效
          若甲方已完成注册步骤，则视为甲方已同意本协议所有条款，协议即时生效。
    </div>
    <div class="modal-footer" style="clear:both;text-align:center;">
        <button type="button" style="background:#ff3939" class="add-btnagree" ng-click="submit()">同意达人协议</button>
        <button type="button" class="add-btnagree" ng-click="$dismiss()">拒绝</button>
    </div>
</div>
