.recharge-con {
  padding-top: 19px;
  
  .recharge-title {
    color: $font-black-1;
    font-size: 1.3rem;
    margin-left: 02.9333333%;
    margin-bottom: 19px;
    display: block;
  }
  .charge-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 2rem;

    .check-charge {
      width: 45%;
      height: 50px;
      margin-bottom: 10px;
      border-radius: 2px;
      border: none;
      &:last-child {
        margin-right: 0;
      }
      .radio-content {
        box-sizing: border-box;
        .item-content 
        {
          padding: 0;
          text-align: center;
          line-height: 48px;
          color: $font-black-4;
          border: 1px solid #e0e0e0;
        }
        .radio-icon {
          display: none;
          height: 0;
        }
      }
    }
  }
  .item-radio input:checked + .radio-content .item-content {
    background: #fff;
    border: 1px solid $qd-main-color !important;
    color: $qd-main-color !important;
  }
  .send-icon {
    width: 15px;
    margin-left: 5px;
    margin-right: 7px;
  }
  .send-panel {
    color: $font-red-1;
    font-weight: bold;
  }
}

