<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'> -->

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/auth.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body ng-app="findpassApp" ng-controller="firstController">
<div class="auth-main">
    <div class="auth-block" style="display:block;">
      <div class="img-box">
         <img src="./assets/img/logoauth.png" alt="">
      </div>
      <div class="authblock-title">游果果旅行体验管家</div>
      <form method="post" onSubmit="return signIn()">
          <input autocomplete="off" type="text" class="form-inputlogo" id="inputAccount" placeholder="请输入手机号">
          <input autocomplete="off" type="password" class="form-inputlogo" id="inputPassword" placeholder="请输入密码">
          <button type="submit" class="btn-auth">登录</button>
          <a href class="forgot-pass" ng-click="hideLogin()">忘记密码</a>
      </form>
    </div>
    <div class="findpass-block" style="display:none;">
      <div class="authblock-title">找回密码</div>
      <div class="code-container">
        <div ng-click="showAllphone()" class="allphone-qz" style="width:16%">
            <span class="perisele-mind">+86</span>
            <span class="perisele-arrow"><i class="arrowdown"></i></span>
        </div>
        <input autocomplete="off" ng-focus="hideAllphone()" ng-model="phone" type="text" class="form-inputlogo form-inputphone" placeholder="请输入手机号">
        <a class="find-codebtn" ng-click="sendCode()">发送验证码</a>
        <ul class="phone-ulcon" style="display: none">
            <li ng-repeat="item in allcountryData track by $index">
                <span class="phone-clk" ng-click="selAreacode($event,item,$index)">
                    <label class="phoneitem-left">{{item.english}}（{{item.name}}）</label>
                    <label class="phoneitem-right">{{item.areaCode}}</label>
                </span>
            </li>
        </ul>
      </div>
      <input autocomplete="off" type="text" ng-model="usercode" class="form-inputlogo" id="inputAccount" placeholder="请输入验证码">
      <input autocomplete="off" type="password" ng-model="newpass" class="form-inputlogo" id="inputPassword" placeholder="请输入6-16位新密码">
      <input autocomplete="off" type="password" ng-model="renewpass" class="form-inputlogo" id="inputPassword" placeholder="请再次输入密码">
      <div class="findpass-sub">
        <a class="findpass-btn btn-left" ng-click="showLogin()">取消</a>
        <a class="findpass-btn btn-right" ng-disabled="myForm.$invalid" ng-click="submit()">完成</a>
      </div>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="./public/plugins/md5.min.js"></script>
<script src="./public/auth.js"></script>
<script src="./public/angular.js"></script>
<script type="text/javascript">
    var app = angular.module('findpassApp',[]);
    app.controller("firstController",function($scope,$http){
        $scope.phone="";$scope.usercode="";$scope.newpass="";$scope.renewpass="";
        var apiurl='http://service.ugogo.net:15038';
        $scope.hideLogin=function(){
          angular.element("body").find(".auth-block").css({"display":"none"});
          angular.element("body").find(".findpass-block").css({"display":"block"});
        }
        $scope.showLogin=function(){
          angular.element("body").find(".auth-block").css({"display":"block"});
          angular.element("body").find(".findpass-block").css({"display":"none"});
        }
        $scope.showAllphone=function(){
            if(typeof $scope.allcountryData=='undefined'){
                console.log(1);
                $http({
                    method: 'POST',
                    url: apiurl+"/shopAdmin/Account/load-country",
                    data: "",
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).then(function(response) {
                    console.log("success post");
                    if (response.data.code == 200) {
                        $scope.allcountryData=response.data.data;
                        angular.element("body").find(".phone-ulcon").css('display','block');
                    }else {
                        console.log("error");
                    }
                },function(response) {
                    console.log("error post");
                });
            }
            else{
                angular.element("body").find(".phone-ulcon").css('display','block');
            }
        }
        $scope.selAreacode=function($event,item,index){
            angular.element("body").find(".phone-ulcon").css('display','none');
            angular.element("body").find(".perisele-mind").html(item.areaCode);
            if($scope.allcountryData[0].areaCode!='086'){
                $scope.allcountryData.unshift({
                    english:'China',
                    areaCode:'086',
                    name:'中国'
                });
            }
        }
        $scope.hideAllphone=function(){
            angular.element("body").find(".phone-ulcon").css('display','none');
        }
        $scope.sendCode=function(){
            if($scope.phone==""||(typeof $scope.phone=='undefined')){
                alert("请输入手机号");
                return;
            }
            $http({
                method: 'POST',
                url: apiurl+"/pub/account/found-smscode",
                data:'phone='+$scope.phone,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).then(function(response) {
                console.log("发送验证码的response",response);
                if (response.data.code == 200) {
                    alert("验证码已发送");
                }else {
                    alert(response.data.message);
                }
            },function(response) {
                console.log("服务器错误");
            });
        }

        $scope.showPass=function(index,ele,elehtml){
            if(angular.element(ele).attr("type")=='password'){
                angular.element(ele).attr("type", "text");
                angular.element(elehtml).html("隐藏密码");

            }
            else{
                angular.element(ele).attr("type", "password");
                angular.element(elehtml).html("显示密码");
            }
        }
        $scope.submit=function(){
            if($scope.phone==""){
              alert("手机号不能为空");
              return ;
            }
            if($scope.usercode==""){
              alert("验证码不能为空");
              return ;
            }
            if($scope.newpass==""){
              alert("新密码输入不能为空");
              return ;
            }
            if(($scope.newpass.length<6)||($scope.newpass.length>16)){
              alert("请输入6-16位新密码");
              return ;
            }
            if($scope.renewpass==""){
              alert("确认密码输入不能为空");
              return ;
            }
            if($scope.newpass!==$scope.renewpass){
                alert("两次密码输入不一致");
                return ;
            }
            $http({
                method: 'POST',
                url: apiurl+"/pub/account/reset-password",
                data: "phone="+$scope.phone+"&code="+$scope.usercode+"&password="+md5($scope.newpass),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).then(function(response) {
                if (response.data.code == 200) {
                    alert("密码已重置");
                    location.reload();
                    return;
                }else {
                    alert(response.data.message);
                    return;
                }
            },function(response) {
                console.log("服务器错误");
            });
        }
    })
</script>
</body>

</html>
